################################################################
#                                                              #
# .gitignore file for <sampleproject>                          #
#                                                              #
################################################################

# ignore byte-compiled files
*.pyo
*.pyc
__pycache__/
